{% extends 'admin/admin_dashboard.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Add Product</h2>
    <form method="POST" enctype="multipart/form-data" class="shadow p-4 bg-light rounded">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }} {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.image.label_tag }} {{ form.image }}
        </div>
        <div class="mb-3">
            {{ form.category.label_tag }} {{ form.category }}
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
{% endblock %}
